

/*CHANGE IMAGE ON HOVER */
a#image2change  {
    width:300px;
    height:225px;
    background-image: url(../images/hover-image01.png);
    display: block;
    color: transparent;
}

#image2change:hover{
    background-image: url(../images/hover-image02.png); 
}

